/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    margin: 0 auto;
  }

  .container1,
  .container1_1 {
    display: flex;
    flex-direction: column;
    background-color: black;
  }

  .item1_1_1 {
    flex-basis: 15%;
  }

  .item1_1_2 {
    flex-basis: 70%;
  }

  .item1_1_3 {
    flex-basis: 15%;
  }

  .container1_1 {
    display: flex;
    justify-content: space-between;
    background-color: white;
  }

  .container1_2,
  .container2_2  {
    background-color: white; 
  }

  .container2 {
    display: flex;
    justify-content: center;
    background-color: black;
  }

  .container2_1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    background-color: white;
    flex: 1;
    max-width: 50%;
  }

  .lastCart {
    grid-column: span 2;
  }

  .container2_2 {
    align-content: center;
    background-color: white;
    flex: 1;
    max-width: 50%;
  }

  div {
    background-color: DodgerBlue;
    color: white;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .container3 {
    background-color: black; 
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .container2,
  .container2_1,
  .container2_2 {
    display: flex;
    flex-direction: column;
    background-color: black;
  }

  .container2_1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    background-color: white;
    max-width: 100%;
  }

  .lastCart {
    grid-column: span 2;
  }

  .container2_2 {
    align-content: center;
    background-color: white;
    max-width: 100%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container1_1,
  .container2_1 {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 100%;
  }
}
